<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Te La Choco Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
    <main>
        <h1> Entorno Virtual Te La Choco</h1>
        <div class="contenedor-botones">
            <a href="/minijuego"><button>Jugar</button></a>
            <a href="/prueba"><button>Prueba</button></a>
        </div>
    </main>
</body>
</html>