#hud {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}
#hud div {
  background: rgba(45,45,45,0.95);
  border: 3px solid #242424;
  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 8px;
  color: white;
  font-weight: 600;
}
