@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: 'Quicksand';
}

body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    color: white;
    gap:20px;
}

button {
    border: solid #242424 5px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #2d2d2d;
    color: white;
    transition: ease .15s;
}

button:hover {
    background-color: white;
    color: #2d2d2d;
}

.contenedor-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}